<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- METAS -->
  

    <!-- STYLES -->
    <link rel="stylesheet" href="recepcion.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://michoacan.gob.mx/cdn/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://michoacan.gob.mx/cdn/css/estilos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.4/css/all.min.css"> 

     <!-- FAVICON -->
    <link rel="shortcut icon" href="https://michoacan.gob.mx/cdn/img/favicon/favicon.ico"
        type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://michoacan.gob.mx/cdn/img/favicon/appletouch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-180x180.png" />

        <!-- Font awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- https://michoacan.gob.mx/slider/ -->
    <title>SEDECO</title>
</head>
<body>
    <header>
        <div class="navbar ">
            <div class="logo"> <a href="http://localhost/michoacan.gob.mx"><img src="https://michoacan.gob.mx/cdn/img/logo.svg" height="85px;" alt="logo"></a></div>
            <ul class="links">
                <li> <a href="index.html">Inicio</a> </li>
                <li> <a href="pantalla.html">Pantalla</a> </li>
            </ul>


            <a href="#" class="action_btn">Secretaria de Desarrollo Economico</a>

            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

        

        <div class="dropdown_menu">
           
            <li> <a href="">Inicio</a> </li>
            <li> <a href="">Pantalla</a> </li>
            <li> <a href="">Salir</a> </li>
            <li><a href="#" class="action_btn">Secretaria de Desarrollo Economico</a></li>
        </div>
        <hr>
    </header>


    <div id="main2">

   
    


        
          <!-- Main -->
        <section id="hero">
            <div class="btnIniciar">
                    <button  onclick="iniciarPrograma()">Iniciar</button>
            </div>

            <div id="regForm2" action="" autocomplete="off">
                <div class="container">
                    <div class="row">
                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa1()">Mesa 1</button></div>
                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa2()">Mesa 2</button></div>
                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa3()">Mesa 3</button> </div>
                      <div class="w-300"></div>
                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa4()">Mesa 4</button></div>
                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa5()">Mesa 5</button></div>
                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa6()">Mesa 6</button></div>
                      <div class="w-300"></div>

                      <div class="col icons"> <a class="logoSAT" style="vertical-align:middle"></a> <button class="btnSAT" onclick="btnMesa7()">Mesa 7</button></div>
                      <!--
                      <div class="col icons"> <a class="logoIMSS" style="vertical-align:middle"></a> <button class="btnIMSS" onclick="btnMesa7()">Mesa 7</button></div>
                        -->
                    </div>
                  </div>
     
                
                </div>
           
        </section>
    </div>



    <footer>
        <div class="container footer-main" style="border-top-style: ridge;">
    
        <div class="row">
        <div class="col-lg-4 text-center">
        <div class="footer-logo">
        <img src="https://michoacan.gob.mx/images/logo-gris.png" class="logoFooter"
       alt="footer-logo">
        </div>
        </div>
        <div class="col-lg-4 text-center">
        <!-- Social Icons -->
        <ul class="social-icons list-inline">
        <li class="list-inline-item">
        <br>
        <a href="https://twitter.com/GobMichoacan" target="_blank"><i class="fab fa-2x fatwitter"></i></a>&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
        <br>
        <a href="https://www.facebook.com/gobmichoacan/" target="_blank"><i
       class="fab fa-2x fa-facebook"></i></a>&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
        <br>
        <a href="https://www.instagram.com/gobmichoacan/?hl=es" target="_blank"><i
       class="fab fa-2x fa-instagram"></i></a>&nbsp;&nbsp;
        </li>
        
        <li class="list-inline-item">
        <br>
        <a href="https://open.spotify.com/user/rr3zgtpveoxmy02i5t9bj9l7z"
       target="_blank"><i class="fab fa-2x fa-spotify"></i></a>&nbsp;&nbsp;
        </li>
        </ul>
        <!-- Footer Links -->
       <p>Correo institucional </p>
       <a href="#">Informatica.sedeco@gmail.com</a><br>
       
        <a href="https://wa.me/7581008128">¿Ayuda? Comunicate</a> <br>
        </div>
        <div class="col-lg-4 text-center">
        <br>
        <h4 class="texto-gris">#HonestidadyTrabajo</h4>
        </div>
        <div class="col-12">
        <hr>
        </div>
        <div class="col-12 text-center">
        © Desarrollado por el Departamento de Informatica SEDECO
        <div id="gobFooterTag"></div>
        </div>
        </div>
        </div>
        <div class="container-fluid footer-pleca">
        <div class="row">
        <div class="col">
        <br><br>
        </div>
        </div>
        </div>
       </footer>

    <script src="https://www.michoacan.gob.mx/cdn/js/jquery3.6.0.min.js"></script>
    <script src="https://www.michoacan.gob.mx/cdn/js/bootstrap.js"></script>

    <!--<script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script> -->

    
    <script src="../../js/index.js"></script>
    <script src="../js/controltotal.js"></script>
  


    
    <!--<script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.4.0/dist/pdf-lib.min.js"></script> -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script> -->
    



    
</body>
</html>